@tailwind base;
@tailwind components;
@tailwind utilities;


.imgd{
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.gal{
  
background: rgb(72,72,100);
background: radial-gradient(circle, rgba(72,72,100,1) 0%, rgba(38,38,47,1) 50%, rgba(72,72,100,1) 100%);
}

.card:hover .srn
{
  color: #333;
  animation: rev 0.2s linear forwards;
}

@keyframes rev {
  from {bottom: 80px;}
  to {bottom: 0;}
}

@media(max-width: 800px)
{
 .imgd{
  background-attachment: unset;
 }
}


.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  left: 20%;
  top: 35%;
  font-size: 2rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
}

.btn:hover {
  transform: translate(5px, -5px);
}