@tailwind base;
@tailwind components;
@tailwind utilities;


.imgd{
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.card:hover .srn
{
  color: #333;
  animation: rev 0.2s linear forwards;
}

@keyframes rev {
  from {bottom: 80px;}
  to {bottom: 0;}
}

@media(max-width: 800px)
{
 .imgd{
  background-attachment: unset;
 }
}

